<%= form_with(model: articleee, local: true) do |form| %>
  <% if articleee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(articleee.errors.count, "error") %> prohibited this articleee from being saved:</h2>

      <ul>
      <% articleee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :articleee_title %>
  </div>

  <div class="field">
    <%= form.label :descrption %>
    <%= form.text_area :descrption, id: :articleee_descrption %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
