<p id="notice"><%= notice %></p>

<h1>Articleees</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Descrption</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articleees.each do |articleee| %>
      <tr>
        <td><%= articleee.title %></td>
        <td><%= articleee.descrption %></td>
        <td><%= link_to 'Show', articleee %></td>
        <td><%= link_to 'Edit', edit_articleee_path(articleee) %></td>
        <td><%= link_to 'Destroy', articleee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Articleee', new_articleee_path %>
