<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @articleee.title %>
</p>

<p>
  <strong>Descrption:</strong>
  <%= @articleee.descrption %>
</p>

<%= link_to 'Edit', edit_articleee_path(@articleee) %> |
<%= link_to 'Back', articleees_path %>
